{% extends 'movies/base.html' %}
{% block title %}{{genre.title}} {% endblock %}
{% block content %}
<h1>{{genre.title}} Movies</h1>


<div class="container">
    {% for movie in movies %}
    <div class="movie-list">
        <a href="{% url 'movie_details' movie.slug %}">
    
    {% if movie.poster %}
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
    {% else %}
        <img src="media/movie_posters/no_thumbnail.png" alt="No Thumbnail">
    {% endif %}
    <h2>{{movie.title}}</h2>
    </a>
    </div>
    {% endfor %}
    </div>
{% endblock %}